[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=ContextProperty5
Exec=/opt/ContextProperty5/bin/ContextProperty5
Icon=ContextProperty564
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
